#categoryList1 {
  .card {
    a{
      height: calc(100vh *.72) !important;
      background-size: cover;
      background-repeat: no-repeat;
    }
    h3 {
      @include font-size(38px);
    }
    &:hover {
      box-shadow: 0px 0px 9px 0px #949393;
      z-index: 9;
    }
    
    @include media-breakpoint-down(sm) {
      h3 {
        @include font-size(18px);
      }
    }
    
  }
}

#categoryList2 {
  padding-top: 45px;
  padding-bottom: 30px;
  
  h3 {
    @include title-props(uppercase);
    margin-bottom: 41px;
  }
  
  .category-list-2 {
    &__item {
      margin-bottom: 22px;
      
      figure {
        position: relative;
        height: 395px;
        margin: 0;
        overflow: hidden;
        
        .before {
          @include pseudo;
          width: 100%;
          height: 100%;
          background-color: rgba(104, 77, 52, 0.32);
          z-index: 1;
        }
        
        img {
          transition: all .5s;
        }
        
        figcaption {
          position: absolute;
          left: 27px;
          bottom: 31px;
          z-index: 2;
          
          h2 {
            margin-bottom: 20px;
          }
          
          .btn-custom {
            font-size: 18px;
            margin-left: 15px;
            
            i {
              font-size: 20px;
            }
          }
        }
        
        &:hover, &:focus {
          img {
            transform: scale(1.1);
          }
        }
      }
    }
  }
}

/***** Media Queries *****/
@include media-breakpoint-down(xs) {
  #categoryList2 {
    padding-right: 0;
    padding-left: 0;
    
    .category-list-2 {
      &__item {
        padding: 0;
        margin-bottom: 1px;
        
        figure {
          height: 168px;
          
          figcaption {
            left: 23px;
            bottom: 11px;
            
            h2 {
              font-size: 26px;
              margin-bottom: 2px;
            }
            
            .btn-custom {
              font-size: 11px;
              padding: 0;
              margin-left: 0;
              
              i {
                font-size: 14px;
                vertical-align: middle;
              }
            }
          }
        }
      }
    }
  }
}

#categoryList3 {
  
  .first-category {
    padding-bottom: 40px;
    border-bottom: solid 1px #b4b4b4;
    margin-bottom: 40px;
    @include media-breakpoint-down(md) {
      padding-bottom: 20px;
      padding-left: 0;
      padding-right: 0;
      border-bottom: solid 1px #b4b4b4;
      margin-bottom: 20px;
    }
    
    
    .items {
      height: 880px;
      @include media-breakpoint-down(md) {
        height: 400px;
      }
    }
  }
  
  .other-category {
    .items {
      height: 400px;
    }
    
    &:first-child {
      padding-bottom: 40px;
      border-bottom: solid 1px #b4b4b4;
      margin-bottom: 40px;
      @include media-breakpoint-down(md) {
        padding-bottom: 20px;
        margin-bottom: 20px;
      }
    }
  }
  
  .items {
    position: relative;
  
    .imagen, .image-link {
      overflow: hidden;
      img {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: top;
        transform:scale(1);
        transition: all 500ms ease-in-out;
      }
    }
    
    .before{
      position: absolute;
      content: "";
      width: 100%;
      height: 100%;
      background-color: rgba(60, 60, 59, 0.5);
      z-index: 1;
    }
    
    &:nth-of-type(2):before {
      content: '';
      border-bottom: 1px solid #b4b4b4;
      position: absolute;
      bottom: -40px;
      display: block;
      height: 100%;
      z-index: 99;
      width: 100%;
    }
    
    .card-img-overlay {
      margin: 20px;
      padding: 20px;
      border: 1px solid #fff;
      z-index: 99;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
    }
    
    
    h3 {
      @include font-size(60px);
      font-weight: bold;
    }
    
    .btn {
      @include font-size(15px);
      border-radius: 0;
      color: #0A0808;
      background-color: rgba($white, 0.7);
    }
    
    &:hover {
      img {
        transform: scale(1.1);
      }
    }
  }
  
  @media (max-width: 769px) {
    
    .items {
      h3 {
        @include font-size(30px);
      }
      
      &:nth-of-type(1), &:nth-of-type(2) {
        &:before {
          border-bottom: 1px solid #b4b4b4;
          bottom: -20px;
        }
      }
    }
  }
}

#categoryList4 {

  .card-categories {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 5px;
    margin: 5px;
    .item-category {
      position: relative;
      &:before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 1;
        background: linear-gradient(to bottom, transparent, transparent, black);
        transition: all 0.4s ease-in-out;
      }
      .bg-img {
        height: 0;
        padding-bottom: 80%;
        position: relative;
        display: block;
        img {
          object-fit: cover;
          width: 100%;
          height: 100%;
          left: 0;
          top: 0;
          position: absolute;
        }
      }
      .card-overlay {
        position: absolute;
        right: 0;
        bottom: 0;
        padding: 1rem;
        z-index: 3;
        transition: 350ms;

        .card-title {
          font-size: 20px;
          a {  display: block; color: $white; text-align: right; }
        }
      }
      &:hover {
        box-shadow: 3px 4px 27px rgba(0, 0, 0, 0.35);
        .card-overlay {
          right: 7px;
        }
      }
    }
    @include media-breakpoint-down(lg) {
      grid-template-columns: repeat(2, 1fr);
      .item-category .card-overlay .card-title {
        font-size: 18px;
      }
    }
    @include media-breakpoint-down(md) {
      .item-category .card-overlay .card-title {
        font-size: 16px;
      }
    }
    @include media-breakpoint-down(sm) {
      grid-template-columns: repeat(3, 1fr);
      .item-category {
        &:before {
          content: none;
        }
        .bg-img {
          height: 90px;
          width: 90px;
          padding-bottom: 0;
          position: relative;
          display: block;
          margin: 0 auto;
          border-radius: 50%;
          overflow: hidden;
          box-shadow: 3px 4px 14px rgba(0, 0, 0, 0.35);
          img {
            position: absolute;
          }
        }
        .card-overlay {
          display: block;
          position: relative;
          text-align: center;
          padding: 10px 2px 20px 2px;
          .card-title {
            font-size: 14px;
            a {color: #333; text-align: center; }
          }
        }
        &:hover {
          box-shadow: none;
          .bg-img {
            border: 3px solid $primary;
          }
          .card-overlay {
            right: 0;
            .card-title {
              font-weight: bold;
            }
          }
        }
      }
    }
  }
}

.not-image {

  #categoryList4 {
    .card-categories {
      grid-gap: 10px;
      .item-category {
        border: 1px solid #cccccc;
        .bg-img {
          display: none !important;
        }
        .card-overlay {
          position: relative !important;
          padding: 15px !important;
          display: flex;
          align-items: center;
          justify-content: center;
          height: 100%;
          .card-title {
            a {
              color: #333 !important;
              text-align: center !important;
            }
          }
        }
        &:hover {
          background-color: #cccccc;
          box-shadow: none;
          .card-overlay {
            right: 0;
          }
        }
        &:before {
          content: none;
        }
      }
      @include media-breakpoint-down(sm) {
        .item-category {
          .card-overlay {
            .card-title {
              font-size: 12px;
            }
          }
        }
    }
  }

  }
}
