#cartLayout1{
  .cart {
    width: 22px;
    
    .quantity {
      width: 18px;
      height: 18px;
      position: absolute;
      border-radius: 50%;
      right: 7px;
      top: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      @include font-size(11px);
      font-weight: bold;
      background: var(--primary);
      
    }
  }
}

#cartLayout2{
  .cart{
    .quantity{
      &:before{
        content:'(';
      }
      &:after{
        content:')';
      }
    }
  }
}