.nav-header {
  .account-menu {
    .dropdown-item {
      color: #333333;
      font-weight: 500;
    }
  }
  
  li {
    position: relative;
  }
  
  
  .nav-link {
    font-size: 12px;
    color: #fff;
    
    &:before {
      content: "";
      height: 16px;
      width: 1px;
      background-color: #037230;
      position: absolute;
      top: 10px;
      right: 0;
    }
    
    .cart {
      width: 22px;
      
      .quantity {
        width: 18px;
        height: 18px;
        position: absolute;
        border-radius: 50%;
        right: 7px;
        top: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        @include font-size(11px);
        font-weight: bold;
      }
    }
    
    .heart {
      width: 20px;
    }
    
    svg .cls-1 {
      fill: #fff;
    }
  }
}