.btn-circle {
  border-radius: 14px;
  height: 28px;
  display: inline-table;
  align-items: center;
  text-align: center;
  padding: 3px 6px;
  
  i {
    font-size: .7rem;
  }
}

// darken ~ mix with black function
@function mixb($variable, $opacity) {
  @return unquote('linear-gradient(to top,rgba(0, 0, 0,'+ $opacity +'),rgba(0, 0, 0,' + $opacity + '))' + $variable);
}

// lighten ~ mix with white function
@function mixw($variable, $opacity) {
  @return unquote('linear-gradient(to top,rgba(255, 255, 255,'+ $opacity +'),rgba(255, 255, 255,' + $opacity + ')) ' + $variable);
}

.btn-primary {
  color: white;
  background-color: var(--primary);
  border-color: var(--primary);
}

.btn-primary:hover, .btn-primary:active, .btn-primary:focus, .btn-primary:visited,
.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active, .show > .btn-primary.dropdown-toggle {
  color: white;
  background-color: var(--primary);
  border-color: var(--primary);
}


.btn-outline-primary {
  color: var(--primary);
  border-color: var(--primary);
}

.btn-outline-primary:hover, .btn-outline-primary:active, .btn-outline-primary:focus, .btn-outline-primary:visited,
.btn-outline-primary:not(:disabled):not(.disabled):active, .btn-outline-primary:not(:disabled):not(.disabled).active, .show > .btn-outline-primary.dropdown-toggle {
  color: white;
  background-color: var(--primary);
  border-color: var(--primary);
}

.no-padding {
  padding: 0 !important;
  margin: 0 !important;
}

.product-layout {
  
  margin-bottom: 20px;
  position: relative;
  overflow: hidden;
  
  .add-to-cart-with-quantity {
    .quantity-selector {
      input,
      textarea {
        border: 1px solid #eeeeee;
        box-sizing: border-box;
        margin: 0;
        outline: none;
        padding: 0px 10px;
        text-align: center;
        height: 30px;
        flex: unset;
      }
      
      .quantity-field {
        width: 45px;
      }
      
      input[type="button"] {
        -webkit-appearance: button;
        cursor: pointer;
        background-color: transparent;
        
        &:hover {
          background: var(--primary);
          color: #fff;
        }
      }
      
      input::-webkit-outer-spin-button,
      input::-webkit-inner-spin-button {
        -webkit-appearance: none;
      }
      
      .input-group {
        clear: both;
        margin: 15px 0;
        position: relative;
      }
      
      .input-group input[type='button'] {
        background-color: #eeeeee;
        min-width: 38px;
        width: auto;
        transition: all 300ms ease;
      }
      
      .input-group .button-minus,
      .input-group .button-plus {
        font-weight: bold;
        height: 38px;
        padding: 0;
        width: 38px;
        position: relative;
      }
      
      .input-group .quantity-field {
        position: relative;
        height: 38px;
        left: -6px;
        text-align: center;
        width: 62px;
        display: inline-block;
        font-size: 13px;
        margin: 0 0 5px;
        resize: vertical;
      }
      
      .button-plus {
        left: -13px;
      }
      
      input[type="number"] {
        -moz-appearance: textfield;
        -webkit-appearance: none;
      }
      
      
    }
    
    a {
      border-radius: 0px;
    }
  }
  
  .add-to-cart-with-quantity.rounded {
    align-items: center;
    justify-content: space-between;
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
    margin: 0;
    padding: 0;
    
    .number-input {
      width: max-content;
      margin: 4px auto;
      
      .button-minus, .button-plus {
        font-size: 15px;
        color: var(--primary);
        border: 1px solid #5251511f;
        background: transparent;
        
        &:hover {
          background: var(--primary);
          color: #fff;
        }
      }
      
      .button-minus {
        border-radius: 26px 0 0 26px;
      }
      
      .button-plus {
        border-radius: 0 26px 26px 0;
      }
      
      .quantity-field {
        width: 45px;
        text-align: center;
        height: 30px;
      }
    }
    
    .add-to-cart-button {
      margin: 4px auto;
      
      a {
        border-radius: 26px;
        border: 1px solid #5251511f;
        
        i {
          //color: var(--primary) !important;
          color: #fff !important;
          margin-right: 5px;
        }
        
        &:hover {
          //background: var(--primary);
          //color: #fff;
          box-shadow: 0 3px 11px 0px var(--primary);
          
          i {
            color: #fff !important;
          }
        }
      }
    }
    
    @include media-breakpoint-down(lg) {
      justify-content: center;
    }
  }
  
  .bg-img {
    height: 300px;
    padding: 15px;
    position: relative;
    width: 100%;
    
    .desc {
      position: absolute;
      top: 0;
      right: 10px;
      clip-path: polygon(50% 100%, 100% 70%, 100% 0, 0 0, 0 70%);
      background-color: #F4D200;
      @include font-size(9.42px);
      color: #000;
      padding: 3px 8px 12px 8px;
      
      span {
        font-weight: bold;
        @include font-size(13px);
      }
    }
    
    figure {
      margin-bottom: 0px;
      
      picture {
        img {
          width: 100%;
          max-height: 230px;
          object-fit: contain;
        }
      }
    }
    
    /***** Media Queries *****/
    @include media-breakpoint-down(md) {
      height: 170px;
    }
  }
  
  .infor {
    
    .summary {
      margin-top: 0.5rem;
    }
    
    .col-price {
      del {
        font-size: 0.7rem;
      }
    }
  }
  
  .title {
    @include font-size(16px);
    color: $gray-900;
    line-height: 1.3;
    min-height: 40px;
  }
  
  .category {
    color: #808080;
  }
  
  .price {
    @include font-size(13px);
    color: $gray-900;
  }
  
  .buttons {
    a {
      cursor: pointer;
    }
  }
  
  .icon {
    color: #929292;
    @include font-size(22px);
  }
  
  .iconquote {
    color: #929292;
    @include font-size(22px);
  }
  
  .cart {
    @include font-size(10px);
    display: none;
  }
  
  .cart-no {
    @include font-size(10px);
    display: block;
  }
  
  &:hover {
    
    .cart {
      display: block;
    }
    
    
    .price, .icon {
      color: var(--primary);
    }
  }
  
}

.product-layout-1 {
  .bg-img {
    .buttons {
      
      &.top-left-in-photo,
      &.top-center-in-photo,
      &.top-right-in-photo,
      &.bottom-left-in-photo,
      &.bottom-center-in-photo,
      &.bottom-right-in-photo,
      &.abc-wtc-in-photo,
      &.bottom-left-inline-in-photo,
      &.bottom-right-inline-in-photo,
      &.abf-wtc-in-photo {
        position: absolute;
      }
      
      &.top-left-in-photo,
      &.top-right-in-photo,
      &.bottom-left-in-photo,
      &.bottom-right-in-photo {
        width: 32px;
      }
      
      &.top-left-in-photo {
        top: 5px;
        left: 5px;
        width: 110px;
        
        a.add-cart, a.contact {
          margin-bottom: 5px;
        }
      }
      
      &.top-right-in-photo {
        top: 5px;
        right: 5px;
        text-align: right;
        width: 110px;
        
        a.add-cart, a.contact {
          margin-bottom: 5px;
        }
      }
      
      &.bottom-left-in-photo {
        bottom: 5px;
        left: 5px;
        width: 110px;
        
        a.add-cart, a.contact {
          margin-bottom: 5px;
        }
      }
      
      &.bottom-right-in-photo {
        bottom: 5px;
        right: 5px;
        text-align: right;
        width: 110px;
        
        a.add-cart, a.contact {
          margin-bottom: 5px;
        }
      }
      
      &.top-center-in-photo {
        top: 5px;
        width: 100%;
        text-align: center;
      }
      
      &.bottom-center-in-photo {
        bottom: 5px;
        width: 100%;
        text-align: center;
      }
      
      &.bottom-left-inline-in-photo {
        bottom: 5px;
        width: 100%;
        padding-left: 5px;
        text-align: left;
      }
      
      &.bottom-right-inline-in-photo {
        bottom: 5px;
        width: 100%;
        padding-right: 5px;
        text-align: right;
      }
      
      &.abf-wtc-in-photo {
        bottom: 0;
        background: var(--primary);
        width: 100%;
        text-align: center;
        padding: 5px;
        
        &.borders {
          .add-cart {
            border-right: 0px;
          }
        }
        
        &.rounded, &.square {
          a {
            color: white;
            border-color: transparent;
          }
        }
        
        &.outline {
          a {
            color: white;
            border-color: white;
          }
        }
        
        .btn-primary {
          background-color: unset;
          border-color: unset;
          color: white;
        }
      }
      
      &.without-add-cart-text {
        &:not(.top-center-in-photo,.bottom-center-in-photo,.bottom-right-inline-in-photo,.bottom-left-inline-in-photo,.abf-wtc-in-photo) {
          width: 30px;
        }
      }
      
      &.borders {
        a {
          border-right: 1px solid #404040;
        }
      }
      
      &.show-on-mouse-hover {
        display: none;
      }
    }
  }
  
  &:hover {
    .bg-img {
      .buttons {
        &.show-on-mouse-hover {
          display: block;
        }
      }
    }
  }
  
  .buttons {
    &.borders {
      a {
        padding: 0px 8px;
        background-color: unset;
        border-color: unset;
        color: #404040;
        border: 0px;
        border-radius: 0px;
        border-left: 1px solid #404040;
        cursor: pointer;
        
        &:hover, &:visited, &:focus {
          color: var(--dark);
          background-color: unset !important;
          border-color: unset !important;
        }
      }
      
      .add-cart {
        padding-right: 6px;
      }
      
      a:last-child {
        border-right: 1px solid #404040;
      }
    }
    
    &.without-borders {
      a {
        padding: 0px 8px;
        background-color: unset;
        border-color: unset;
        color: #404040;
        border: 0px;
        border-radius: 0px;
        border: 0;
        cursor: pointer;
        &:hover, &:visited, &:focus {
          color: var(--dark);
          background-color: unset !important;
          border-color: unset !important;
        }
      }
      
    }
    
    &.rounded {
      &.with-add-cart-text {
        .add-cart, .contact {
          padding: 3px 10px;
          i {
            margin-right: 4px;
          }
        }
      }
      
      &.without-add-cart-text {
        a.add-cart {
          width: 28px;
        }
      }
      
      a.wishlist {
        width: 28px;
      }
      
      a {
        @extend .btn-circle;
      }
      
      
    }
    
    &.square {
      a {
        padding: 0.375rem 0.45rem;
        line-height: 1.2;
        border-radius: 0px;
      }
    }
    
    &.after-content-center {
      text-align: center;
    }
  }
  
  &.with-discount {
    &.is-new {
      .buttons {
        &.left {
          top: 60px;
        }
      }
    }
    
    .buttons {
      &.in-photo-right {
        top: 60px;
      }
    }
  }
  
  &.sold-out {
    .buttons {
      &.left {
        top: 60px;
      }
    }
  }
  
  .add-to-cart-with-quantity .buttons.borders {
    padding: 7px 0px;
    
    .wishlist {
      margin-left: 0px;
    }
  }
  
  &.is-new, &.with-discount {
    .bg-img {
      .buttons {
        &.top-left-in-photo, &.top-right-in-photo {
          top: 60px;
        }
      }
    }
  }
  
  &.ribbon-discount-position-top-left {
    &.without-discount {
      &.is-new {
        &:not(.sold-out) {
          .bg-img .buttons {
            &.top-left-in-photo {
              top: 5px;
            }
          }
        }
      }
    }
    
    &.with-discount {
      &:not(.is-new) {
        .bg-img .buttons {
          &.top-right-in-photo {
            top: 5px;
          }
        }
      }
    }
  }
  
  &.ribbon-discount-position-top-right {
    &.without-discount {
      &.is-new {
        .bg-img .buttons {
          &.top-right-in-photo {
            top: 5px;
          }
        }
      }
    }
    
    &.with-discount {
      &:not(.is-new,.sold-out) {
        .bg-img .buttons {
          &.top-left-in-photo {
            top: 5px;
          }
        }
      }
    }
  }
}



