.productRibbon {
  .ribbonContent {
    width: max-content;
    position: absolute;
    z-index: 3;

    .asideRibbon {
      position: relative;
      cursor: pointer;
      line-height: 1.1;
    }
  }

  /*Discount Ribbon*/
  .ribbonDiscount {
    top: 5px;
    right: 0;

    .asideRibbon {
      padding: 8px 10px 8px 6px;
      background-color: #fff200;

      .ribbonLabel {
        font-size: 10px;
      }
    }

    .asideRibbon::after {
      content: '';
      position: absolute;
      height: 0;
      width: 0;
      top: 0;
      border-style: solid;
      border-width: 22px 22px 22px 0;
      border-color: transparent #fff200;
      left: -22px;
    }
  }


  /*Sold out Ribbon*/
  .ribbonSoldOut {
    transform: rotate(-45deg);
    background-color: $danger;
    top: 14px;
    left: -40px;
    text-align: center;
    color: white;
    width: 130px;
    padding: 6px 0;
    font-size: 12px;
  }

  /*New product Ribbon*/
  .ribbonNewProduct {
    top: -10px;
    left: -45px;
    transform: rotate(-45deg);
    background-color: $primary;
    text-align: center;
    color: white;
    width: 130px;
    padding: 25px 0 6px 0;
    font-size: 12px;
  }
}
