#recursiveListOptionsComponent{
  .radio-square {
    position: relative;
    z-index: 1;
    display: inline-block;
    min-height: 1.5rem;
    padding-left: 0;
    margin-right: 15px;
    margin-bottom: 20px;
    
    input[type="radio"], input[type="checkbox"] {
      position: absolute;
      left: 0;
      z-index: 1;
      width: 100%;
      height: 100%;
      opacity: 0;
      background-color: initial;
      cursor: default;
      appearance: none;
    }
    label {
      padding: 0.3rem 1rem;
      text-align: center;
      position: relative;
      margin-bottom: 0;
      vertical-align: top;
      display: inline-block;
      cursor: pointer;
      span {
        color: #8e8e8e;
        position: relative;
        z-index: -1;
        font-size: 14px;
      }
      &:before {
        top: 0;
        left: 0;
        display: block;
        width: 100%;
        height: 100%;
        border: 1px solid #e2e2e2;
        pointer-events: none;
        content: "";
        background-color: #fff;
        position: absolute;
        z-index: -1;
        border-radius: 0.25rem;
      }
      &:after {
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        width: 100%;
        height: 100%;
        content: "";
        background: none;
      }
    }
    
    input[type="radio"]:checked ~ label span,
    input[type="checkbox"]:checked ~ label span {
      color: #fff;
    }
    
    input[type="radio"]:not(:disabled):active ~ label::before,
    input[type="checkbox"]:not(:disabled):active ~ label::before {
      background-color: var(--light);
      border-color: var(--light);
    }
    
    input[type="radio"]:checked ~ label::before,
    input[type="checkbox"]:checked ~ label::before {
      border-color: var(--primary);
      background-color: var(--primary);
    }
  }
}

#recursiveListOptionsComponent .content-option {
  padding: 10px 0px;
}

#recursiveListOptionsComponent .title-option {
  text-transform: capitalize;
  font-size: 14px;
  text-align: left;
}

#recursiveListOptionsComponent .box-color {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
  margin: 5px 15px 5px 0;
}

#recursiveListOptionsComponent .box-color-active:before {
  display: inline-block;
  content: '';
  height: 40px;
  width: 40px;
  border: 2px solid #3a8051;
  border-radius: 50%;
  margin-left: -5px;
  margin-top: -5px;
}

#recursiveListOptionsComponent .box-image {
  height: 50px;
  width: 50px;
  display: inline-block;
  cursor: pointer;
  margin: 5px 15px 5px 0;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

#recursiveListOptionsComponent .box-image-active:before {
  display: inline-block;
  content: '';
  height: 60px;
  width: 60px;
  border: 2px solid #3a8051;
  margin-left: -5px;
  margin-top: -5px;
}