.navbar-category {
  
  .navbar-nav > .nav-item .nav-link {
    background-color: $primary;
    color: #ffffff;
    @include font-size(18px);
    padding: 29px 15px;
    
  }
  
  .dropdown-menu {
    background-color: #f5f5f5;
    min-width: 15rem;
    padding: 15px 0;
    border-radius: 0;
    margin-top: 0;
    
    > .nav-item .nav-link {
      color: #444444;
      text-transform: capitalize;
      padding: 0.5rem 1rem;
      background-color: #f5f5f5;
      @include font-size(12px);
      
      img {
        width: 20px;
        object-fit: contain;
        margin-right: .5rem;
      }
      
      img.white {
        display: none;
      }
      
      img.dark {
        display: inline-block;
      }
      
      &:hover {
        color: #fff;
        background-color: $primary;
        
        img.white {
          display: inline-block;
        }
        
        img.dark {
          display: none;
        }
      }
    }
    
    .dropdown {
      position: initial;
      
      .dropdown-menu {
        background-color: #EBEBEB;
        position: absolute;
        left: calc(15rem - 3px);
        min-width: 30rem;
        top: -1px;
        padding: 10px;
        visibility: hidden;
        opacity: 0;
        padding: 25px;
        min-height: 325px;
        border: 0;
        
        .frame-dropdown {
          column-count: 2;
          list-style: none;
          padding-left: 0;
          
          position: relative !important;
          min-width: auto !important;
          left: 0 !important;
          border: 0 !important;
          padding: 0 !important;
          
          .nav-link {
            color: #444444;
            text-transform: capitalize;
            padding: 0 0 2px 0;
            background-color: #ebebeb;
            @include font-size(14px);
            font-weight: bold;
            margin-bottom: 12px;
            position: relative;
            
            &:hover {
              background-color: #ebebeb;
              color: #444444;
            }
            
            &:before {
              content: "";
              bottom: 2px;
              position: absolute;
              background-color: $white;
              width: 100%;
              height: 1px;
            }
          }
        }
        
        
      }
      
      &:hover {
        .dropdown-menu {
          visibility: visible;
          opacity: 1;
          display: block;
        }
      }
    }
  }
  
  
  h3 {
    @include font-size(18px);
    font-weight: bold;
    margin-bottom: 15px;
    
    a {
      color: $dark;
    }
  }
  
  .dropdown-submenu {
    padding: 0 0.5rem 0.5rem 0.5rem;
    
    a {
      font-weight: 400;
      display: block;
      padding: 0 0.5rem;
      color: $dark;
      @include font-size(14px);
      
      &:hover {
        color: $primary;
      }
    }
  }
}

.navbar-category-movil {
  .navbar-nav {
    .nav-item {
      border-bottom: 1px solid #DEDEDE;
      
      .nav-link {
        @include responsive-font-size(15px);
        color: #363436;
        font-weight: bold;
        padding: 10px 25px;
        
        img {
          width: 20px;
          object-fit: contain;
          margin-right: .5rem;
        }
        
        img.white {
          display: none;
        }
        
        img.dark {
          display: inline-block;
        }
        
        &:hover {
          img.white {
            display: inline-block;
          }
          
          img.dark {
            display: none;
          }
        }
      }
      
      &:hover {
        background-color: $primary;
        
        > .nav-link {
          color: $white;
        }
      }
      
      .nav-link[aria-expanded="true"] {
        background-color: $primary;
        color: $white;
      }
    }
    
    .dropdown-menu {
      border: 0;
      border-radius: 0;
      padding: 0;
      
      .nav-item {
        border-bottom: 0;
        background-color: #EBEBEB !important;
        
        .nav-link {
          color: #363436;
          
          &:hover {
            color: $primary;
          }
        }
        
      }
      
      h3 {
        display: none;
      }
      
      .frame-dropdown {
        list-style: none;
        padding-left: 0;
        
        .dropdown-submenu {
          padding-left: 40px;
          
          a {
            font-weight: 400;
            display: block;
            padding: 0 0.5rem;
            color: #333333;
            @include font-size(14px);
            
            &:hover {
              color: $primary;
            }
          }
        }
      }
      
      
    }
  }
}