@import "modules/icommerce/index";
@import "modules/icommerce/filters/categories";
@import "modules/icommerce/filters/range-prices";
@import "modules/icommerce/filters/manufacturers";
@import "modules/icommerce/product/product-layout";
@import "modules/icommerce/product/product-ribbon";
@import "modules/icommerce/category/category-list";
@import "modules/icommerce/header/category";
@import "modules/icommerce/header/searcher";
@import "modules/icommerce/header/nav";
@import "modules/icommerce/header/cart";



.loading{
  .capa{
    top: 0;
    left: 0;
    background-color: rgba(255,255,255,0.7);
    z-index: 9;
  }
}

.cursor-pointer{
	cursor: pointer;
}

.owl-carousel{
	.card-product{
		.bg-img{
			figure{
				margin-bottom: 0px;
				picture{
					img{
						max-height: 230px;
					}
				}
			}
		}
	}
}
