@import "index";
@import "filter-categories";
@import "product-layout";
@import "header-category";
@import "header-searcher";
@import "header-nav";



.loading{
  .capa{
    top: 0;
    left: 0;
    background-color: rgba(255,255,255,0.7);
    z-index: 1;
  }
}