@import "modules/icommerce/index";
@import "modules/icommerce/filters/categories";
@import "modules/icommerce/filters/range-prices";
@import "modules/icommerce/filters/manufacturers";
@import "modules/icommerce/product/product-aspect";
@import "modules/icommerce/product/product-layout";
@import "modules/icommerce/product/product-ribbon";
@import "modules/icommerce/product/product-options";
@import "modules/icommerce/category/category-list";
@import "modules/icommerce/header/category";
@import "modules/icommerce/header/searcher";
@import "modules/icommerce/header/nav";
@import "modules/icommerce/header/cart";
@import "modules/icommerce/show";
@import "modules/icommerce/orders/show";
@import "modules/icommerce/cart";
@import "modules/icommerce/checkout";



.loading{
  .capa{
    top: 0;
    left: 0;
    background-color: rgba(255,255,255,0.7);
    z-index: 9;
  }
}

.cursor-pointer{
	cursor: pointer;
}

.owl-carousel{
	.card-product{
		.bg-img{
			figure{
				margin-bottom: 0px;
				picture{
					img{
						max-height: 230px;
					}
				}
			}
		}
	}
}

/* =========== PRELOADER ============ */
#content_preloader {
	position: absolute;
	z-index: 999999999;
	background-color: white;
	height: 100%;
	width: 100%;
}
#preloader {
	width: 70px;
	height: 70px;
	border: 10px solid $light;
	border-top: 10px solid var(--primary);
	border-radius: 50%;
	animation-name: girar;
	animation-duration: 0.80s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	
	position: absolute;
	left:50%;
	margin-left: -42.5px;  /* 50% del ancho de la div en px */
	
	top: 30%;
}

#content_index_commerce {
	
	.store-header {
		
		.store-card {
			background-color: var(--primary);
			color: $white;
			border-radius: 15px 0 0 15px;
			@include media-breakpoint-down(md) {
				text-align: center;
				border-radius: 15px 15px 0 0;
			}
			
			.card-body { padding: 2rem; }
			
			.store-logo img {
				height: 130px;
				width: 130px;
				border: 3px solid $white;
				border-radius: 50%;
			}
			.store-raiting {
				font-size: 15px;
			}
			
			.store-name {
				font-size: 20px;
				line-height: 20px;
				position: relative;
				margin-bottom: 15px;
				&:before {
					content: '';
					height: 1px;
					width: 50px;
					background-color: #B3D3E9;
					left: 0;
					bottom: -10px;
					position: absolute;
				}
			}
			
			.store-followers {
				color: #B3D3E9;
				font-size: 16px;
				margin-bottom: 15px;
			}
			
			.btn-store {
				font-size: 15px;
				border: 2px solid $white;
				border-radius: 20px;
				color: $white;
				padding: 5px 20px;
			}
			
			.store-social {
				font-size: 16px;
				a {
					margin-right: 20px;
					color: $white;
					position: relative;
					i {
						font-size: 15px;
					}
					
					&:hover {
						color: #B3D3E9;
					}
					&:not(:last-child):before {
						content: '';
						height: 80%;
						width: 1px;
						background-color: #B3D3E9;;
						position: absolute;
						right: -9px;
						top: 50%;
						transform: translateY(-50%);
					}
				}
				.btn-group {
					vertical-align: initial;
					.number-whatsapp a {
						color: var(--primary);
						width: 100% !important;
						height: 100% !important;
						border: 0 !important;
						border-radius: 0 !important;
						margin: 0;
					}
				}
			}
		}
		.store-slider {
			overflow: hidden;
			.slider-component, .owl-item img{
				height: 290px !important;
				border-radius: 0 15px 15px 0;
				@include media-breakpoint-down(md) {
					border-radius: 0 0 15px 15px;
				}
			}
			.carousel-caption {
				display: none !important;
			}
			.owl-dots {
				.owl-dot span {
					height: 10px;
					width: 10px;
					border-radius: 50%;
				}
			}
			.owl-nav {
				.owl-prev, .owl-next {
					font-size: 20px;
					position: relative;
					color: var(--primary);
					width: 25px;
					height: 50px;
					margin: 0;
					i {
						position: relative;
					}
					&:before {
						content: '';
						background-color: $white;
						position: absolute;
						width: 50px;
						height: 50px;
						z-index: 0;
						top: 0;
						border-radius: 0 15px 0 15px;
						transform: rotate(45deg);
					}
				}
				.owl-prev:before {
					left: -25px;
				}
				.owl-next:before {
					right: -25px;
				}
			}
		}
	}
	#storeTab {
		.nav-tabs .nav-link {
			font-size: 18px;
			border: 0;
			border-radius:0;
			color: #525266;
			padding: 0.5rem 1.5rem;
		}
		.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
			border-bottom: 3px solid var(--primary);
			color: var(--primary);
		}
		.tab-pane {
			padding: 25px 0;
		}
	}
	
	
}