#content_show_commerce{

  .information{
    .price{
      font-size: 2.25rem;
    }
  }
  
  #icommerce_let_me_know_when_product_is_av{
    .productName{
      display: none;
    }
  }
  
  input.quantity{
    max-width: 100px;
  }

  .bg-image {
    .img-mini {
      width: 67px;
      padding: 2px;
      
      img {
        object-fit: contain;
        width: 100%;
        height: 100%;
      }
    }
    
    .img-big {
      background-color: #d2d2d2;
      padding: 1px;
      
      img {
        object-fit: contain;
        width: 100%;
        height: 100%;
      }
    }
    
    @include media-breakpoint-down(xs) {
      .img-mini {
        display: inline-block;
        margin-left: 5px;
      }
    }
  }

  .btn-comprar{
    svg{
      width: 20px;
      fill:white;
    }
  } 

}
