.filter-categories {

  .list-group-item {
	.icon-collapsable {
		.angle:before {
			content: "\f105";
		}
	}

	.icon-collapsable[aria-expanded="true"] {
		.angle:before {
			content: "\f107";
		}
	}

	.category-icon {
		display: inline-block;
	}

	.link-desktop {
		position: relative;
		height: 30px;
		.text-href {
			position: absolute;
			left: 0;
			top: 50%;
			transform: translateY(-50%);
		}
		.icon-collapsable {
			display: flex;
			justify-content: flex-end;
			height: 100%;
			align-items: center;
		}
	}

	.link-movil {
		position: relative;
		.text-collapsable {
			display: block;
		}
		.icon-href {
			position: absolute;
			right: 0;
			top: 50%;
			transform: translateY(-50%);
		}
	}
  }
}

.filter-categories-style-1 {
  .item, .category-icon {
    display: none;
  }
  .list-group-item {
    padding: 0 !important;
    a {
      color: #333333;
      &:hover {
        color: $primary !important;
        font-weight: bold !important;
      }
    }
  }
  .list-group-item.level-0 {
    padding: 0;
    border: 0;
    > .link-desktop {
      padding-left: 38px;
      .icon-collapsable {
        justify-content: flex-start;
        font-weight: bold;
        font-size: 20px;
      }
      .text-href {
        left: 35px !important;
      }
    }
    .link-movil {
      .icon-href {
        right: 10px;
      }
    }
    .link-desktop, .link-movil {
      font-size: 1rem;
      background-color: #f0f0f0;
      font-weight: 400;
      border-radius: 0 20px 0 0;
      margin-bottom: 1rem;
      padding: 1rem;
      border: 0;
      height: 56px;
      .text-href {
        left: 15px;
      }
    }
    .link-childless {
      font-size: 1rem;
      background-color: #f0f0f0;
      font-weight: 400;
      border-radius: 0 20px 0 0;
      margin-bottom: 1rem;
      padding: 1rem;
      border: 0;
      height: 56px;
    }
    .multi-collapse {
      margin-bottom: .5rem;
    }
  }
  .list-group-item.level-1 {
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);

    .link-movil {
      .text-collapsable {
        padding: .7rem 1rem;
        height: 45px;
        &:before {
          color: $primary;
          content: "•";
        }
      }
    }
    .link-desktop, .link-movil {
      padding: 0;
      background-color: $white;
      font-size: 16px;
      margin-bottom: 0;
      padding-right: 1rem;
      height: 45px;
      .text-href {
        .angle:before {
          content: none;
        }
        &:before {
          color: $primary;
          content: "•";
        }
      }
    }
    .link-childless {
      background-color: $white;
      font-size: 16px;
      margin-bottom: 0;
      padding: .5rem 1rem;
      height: 45px;
      .angle:before {
        content: none;
      }
      &:before {
        color: $primary;
        content: "•";
      }
      @include media-breakpoint-down(md) {
        padding-top: .7rem !important;
      }
    }
    &:last-child {
      border-bottom: 0;
    }
  }
  .list-group-item.level-2 {
    border-bottom: 0;
    padding-left: 15px !important;
    .link-childless {
      &:before {
        content: "-";
      }
    }
  }

}

.filter-categories-style-2 {
  .item {
    display: none;
  }
  .list-group {
    .list-group-item {
      background-color: transparent;
    }
    > .list-group-item.level-0 {
      margin-bottom: 20px;
      padding: 0;
      border: 0;

      > .link-desktop {
        font-size: 22px;
        background-color: $secondary;
        border-radius: 100px;
        height: 66px;

        .icon-collapsable {
          display: flex;
          justify-content: flex-end;
          align-items: center;
          height: 66px;
          border-radius: 100px;
          padding-right: 15px;
          color: $white;
        }
        .text-href {
          color: $white;
          img {
            background-color: darken($secondary, 10%);
            border: 3px solid lighten($secondary, 15%);
            border-radius: 50%;
            width: 66px;
            height: 66px;
            object-fit: none;
            position: absolute;
            top: -33px;
            left: 0;
          }
          span {
            left: 75px;
            position: absolute;
            top: -13px;
          }
        }
      }

      > .link-movil {
        display: block;
        position: relative;
        font-size: 22px;
        background-color: $secondary;
        border-radius: 100px;
        border-bottom: 0;
        height: 66px;
        a {
          color: $white;
        }
        img {
          background-color: darken($secondary, 10%);
          border: 3px solid lighten($secondary, 15%);
          border-radius: 50%;
          width: 66px;
          height: 66px;
          object-fit: none;
          position: absolute;
          top: 0;
          left: 0;
        }
        .icon-collapsable {
          align-items: baseline;
        }
        .text-collapsable {
          position: absolute;
          left: 0;
          top: 0;
          height: 66px;
          display: flex;
          align-items: center;
          padding-bottom: 5px;
          width: 100%;
          border-radius: 100px;
          span {
            padding-left: 75px;
          }
        }
        .text-href {
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden;
          width: 225px;
          height: 66px;
          display: flex;
          align-items: center;
          padding-bottom: 5px;
          span {
            padding-left: 75px;
          }
        }
        .icon-href {
          right: 15px;
        }
      }
      &.category-selected {
        > .link-desktop, > .link-childless {
          background-color: $primary;

          img {
            background-color: darken($primary, 10%);
            border-color: saturate($primary, 25%);
          }
        }
      }
      > .link-childless {
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        background-color: $secondary;
        color: $white;
        border-radius: 100px;
        font-size: 22px;
        padding: 20px 20px 20px 75px;
        img {
          background-color: darken($secondary, 5%);
          border: 3px solid saturate($secondary, 25%);
          border-radius: 50%;
          width: 66px;
          height: 66px;
          object-fit: none;
          position: absolute;
          top: 0;
          left: 0;
        }
      }
    }
    .level-1 {
      .link-desktop, .link-movil {
        .text-href, .text-collapsable {
          &:before {
            color: $primary;
            content: "•";
          }
        }
        a {
          color: #333333;
          font-weight: 500;
          &:hover {
            color: $primary;
          }
        }
        .icon-href {
          right: 10px;
        }
      }
      .link-childless {
        color: #333333;
        font-weight: 500;
        &:hover {
          color: $primary;
        }
      }
    }
    .level-2 {
      border: 0;
      .link-childless {
        height: 20px;
        &:before {
          content: "-";
        }
      }
      .link-desktop, .link-movil {
        height: 20px;
        .text-href, .text-collapsable {
          &:before {
            content: "-";
          }
        }
      }
    }
    .level-3 {
      .link-childless {
        &:before {
          content: none;
        }
      }
      .link-desktop, .link-movil {
        .text-href, .text-collapsable {
          &:before {
            content: none;
          }
}
      }
    }
  }
}
